<h1>Input Address for Coordinates Lookup</h1>

<form action="http://localhost:3000/coords/location">
  <div>
    <label for="the_location">Address:</label>
    <input id="the_location" type="text" name="location">
  </div>
  <div>
    <input type="submit" value="Sumit Address">
  </div>
</form>